<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>462312698532-fc7uu44d04059oorrcilplo7f9pjmfml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462312698532-fc7uu44d04059oorrcilplo7f9pjmfml</string>
	<key>API_KEY</key>
	<string>AIzaSyAETisfuwPQYVOHnMeqkLWzYj43ns59zJU</string>
	<key>GCM_SENDER_ID</key>
	<string>462312698532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.longnh.Prototype2</string>
	<key>PROJECT_ID</key>
	<string>prototype2-c8299</string>
	<key>STORAGE_BUCKET</key>
	<string>prototype2-c8299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462312698532:ios:7f8e5a85396fad94</string>
	<key>DATABASE_URL</key>
	<string>https://prototype2-c8299.firebaseio.com</string>
</dict>
</plist>